$openSans: 'Open Sans', sans-serif;

$blue: #4bcaff;
$white: #fff;
$lightGrey: #f9f9f9;
$grey: #838383;
$darkGrey: #414042;
*{
font-family: $openSans;
box-sizing: border-box;
}
h1 {
  margin: 0;
}

.clearfix:after,
.container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.row {
  margin: 0;
  padding: 0;
}


.container-fluid {
  padding: 0;
header {
  height: 676px;
  padding: 0 20px 0 43px;
  position: relative;
  background: url('../img/header__bg.jpg') 58% 0;
  .header__fixed {
    height: auto;
    padding-left: 30px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0);


  .header__logo {
    margin-top: 28px;
    width: 124px;
    height: 100px;
    background: url('../img/logo.png');

  }
  .menu {
    text-align: right;

    .list-item {
      float: left;
        a {
          margin: 0 13px;
          line-height: 100px;
          color: $white;
          font-size: 13px;
      }
      a:hover {

      }
    }
    li:first-child {
    }
  }


}//header__fixed

.header__box {
  padding-top: 168px;
  max-width: 575px;
    .header__box--top {
      margin-top: 28px;
      color: $white;
      font-size: 50px;
      font-weight: lighter;
    }
    .header__box--center {
      color: $white;
      line-height: 1.1;
      font-size: 50px;
      font-weight: lighter;
    }
    .header__button {
      width: 256px;
      height: 50px;
      margin: 40px 0 20px 0;
      background-color: #000;
      color: $white;
      border: 2px solid #000;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 46px;
      text-align: center;
      letter-spacing: 2px;
      border-radius: 5px;
      transition: 2s;
    }
    .left:hover {
      background-color: #aaa;
      border: 2px solid #aaa;
    }
    .right {
      width: 242px;
      border: 2px solid $white;
      background: rgba(0, 0, 0, 0);
    }
    .right:hover {
      background-color: #aaa;
      border: 2px solid #aaa;
    }

}
}//header

.block1 {
  margin-top: 44px;
  .phone__img {
    margin-left: 10px;
    background: url('../img/phone.jpg');
    width: 578px;
    height: 731px;
  }

  .phone__info {
      margin: 84px 0 0 112px;
    .block1__h2--top {
      margin-bottom: 10px;
    }
    .block1__h2 {
      font-size: 44px;
      max-width: 450px;
      font-weight: 100;
      line-height: 1.2;
      text-align: center;
    }
    .block1__h2--center {
      margin-bottom: 36px;
    }
    .block1__item {
      margin-top: 6px;
      font-size: 20px;
      color: #151515;
      font-weight: bold;
      text-align: right;
    }
    span {
      display: block;
      max-width: 500px;
      font-size: 14px;
      // line-height: 1.3;
      color: #757575;
      text-align: right;
    }
  }
}

.block2 {

  .box__left {
    background: url('../img/box__left.jpg');
    height: 509px;
      .box__left--first {
        height: 260px;
        background: url('../img/box__left1.jpg') 100%;
        padding-right: 35px;
        line-height: 260px;
        text-transform: uppercase;
        text-align: right;
        font-size: 45px;
        font-weight: bold;
        color: $white;
      }
      .box__left--second {
        background: url('../img/box__left2.jpg') 1%;
        line-height: 260px;
        padding-right: 35px;
        text-transform: uppercase;
        height: 260px;
        text-align: right;
        font-size: 45px;
        font-weight: bold;
        color: $white;
      }
      .box__left--bottom {
        background: #535353;
        height: 248px;
        blockquote {
          max-width: 450px;
            font-size: 23px;
            color: $white;
            text-align: left;
            padding: 10px 10px 10px 40px;
        }
      }

  }
  .box__right {
    background: url('../img/box__right.jpg') 85%;
    height: 509px;
    .box__right--top {
      background: #3a3737;
      height: 248px;
      blockquote {
        max-width: 450px;
          font-size: 23px;
          color: $white;
          text-align: left;
          padding: 10px 10px 10px 40px;
      }
    }
    .box__right--first {
        height: 260px;
        background: url('../img/box__right1.jpg') 100%;
        padding-right: 35px;
        line-height: 260px;
        text-transform: uppercase;
        text-align: right;
        font-size: 45px;
        font-weight: bold;
        color: $white;
    }
    .box__right--second {
        height: 260px;
        background: url('../img/box__right2.jpg');
        padding-right: 35px;
        line-height: 260px;
        text-transform: uppercase;
        text-align: right;
        font-size: 45px;
        font-weight: bold;
        color: $white;
    }
  }
}

.products {
  padding-top: 186px;
  .products__box {
    .product__text {
      padding-left: 54px;
      font-size: 42px;
      font-weight: lighter;
      color: #4f4c4c;
      text-align: center;
    }
    .product__text--top {

    }
    .product__desription {
      margin-top: 30px;
      padding-left: 54px;
      text-align: center;
        .product__desr {
          padding: 0 20px;
          h3 {
            font-size: 20px;
            color: #151515;
          }
          p {
            font-size: 15px;
            color: #757575;
          }
        }
        .product__desr--left {
          text-align: right;
          padding-right: 65px;
          border-right: 1px solid #f3f3f3;
        }
        .product__desr--right {
          text-align: left;
        }
    }
}
.product__img {
  background: url('../img/product__img.jpg');
  height: 463px;
  margin-left: 40px;
}
}

.price {
  padding: 60px 0 90px 0;
  background: #f5f5f5;
  h2 {
    font-size: 46px;
    font-weight: lighter;
    text-align: center;
  }

  .plans {
    padding-top: 45px;
    position: relative;
    .plan {
      padding: 0 0 50px 0;
      background: #f5f5f5;
      border: 1px solid #c9c9c9;
      text-align: center;
        .plan__header {
          color: #484848;
          font-size: 25px;
          font-weight: bold;
          height: 84px;
        }
        .plan__header--first {
          padding-top: 5px;
        }
        .plan__header--center,
        .plan__header--last {
          line-height: 84px;
        }

        .plan__price {
          max-height: 104px;
          background: #717171;
          color: $white;
          font-size: 46px;
          border-radius: 3px;
            p {
            font-weight: bold;
            }
            span {
              display: block;
              font-size: 20px;
              line-height: 5px;
              padding-bottom: 25px;
            }
        }
        .plan__descr {
          padding: 47px 36px 12px 0px;
          font-size: 18px;
          color: #585858;
        }
        a {
          margin: 20px auto 0;
          width: 132px;
          height: 32px;
          line-height: 32px;
          display: block;
          background: #ed1f24;
          border-radius: 4px;
          color: $white;
          font-size: 12px;
          font-weight: bold;
        }
    }
    .plan__center {
      position: absolute;
      top: 7%;
      left: 32%;
      z-index: 10;
      width: 324px;
      min-height: 434px;
        .plan__price {
          background: #ed1f24;
          padding-bottom: 5px;
        }
    }
  }
}//plan and price

.contacts {
  border-bottom: 1px solid $white;
  background: #3c3c3c;
  height: 395px;
  .contacts__img {
    background: url('../img/contacts__phone.jpg');
    height: 394px;
    .contacts__button {
      padding-top: 20px;
      padding-right: 35px;
      text-align: right;
        float: right;
    p {
      max-width: 320px;
      font-size: 52px;
      color: $white;
    }
    a {
      float: right;
      width: 183px;
      height: 42px;
      line-height: 42px;
      display: block;
      background: #da2227;
      border-radius: 4px;
      color: $white;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
    }
  }
  }

  .contacts__form {
    padding-left: 8px;
    .contacts_address {
      padding: 30px 0;
      p {
        max-width: 400px;
        font-size: 29px;
        color: $white;
      }
    }
    form {
      .form__left {
        float: left;
        width: 200px;
        input {
          width: 185px;
          height: 34px;
          border: 1px solid #bfbfbf;
          border-radius: 4px;
          background: none;
          color: #626262;
          padding-left: 12px;
          margin: 5px;
        }
      }
      .form__right {
        float: left;
        textarea {
          float: left;
          width: 166px;
          height: 124px;
          border: 1px solid #bfbfbf;
          border-radius: 4px;
          background: none;
          color: #626262;
          padding-left: 12px;
          margin: 5px;
          resize: none;
        }
      }
      input[type="submit"] {
        float:right;
        margin-right: 70px;
        width: 86px;
        height: 28px;
        background: none;
        color: $white;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
      }
  }
  }
}

footer {
  
}


}//container-fluid
