$openSans: 'Open Sans', sans-serif;

$blue: #4bcaff;
$white: #fff;
$lightGrey: #f9f9f9;
$grey: #838383;
$darkGrey: #414042;
*{
font-family: $openSans;
box-sizing: border-box;
}
h1 {
  margin: 0;
}

.clearfix:after,
.container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.row {
  margin: 0;
  padding: 0;
}


.container-fluid {
  padding: 0;
header {
  height: 676px;
  padding: 0 20px 0 43px;
  position: relative;
  background: url('../img/header__bg.jpg') 58% 0;
  max-width: 100%;
  .header__fixed {
    height: auto;
    padding-left: 30px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    // background: rgba(0, 0, 0, 0.3);


  .header__logo {
    display: block;
    margin-top: 28px;
    width: 124px;
    height: 100px;
    background: url('../img/logo.png');

  }
  .menu {
    text-align: right;

    .list-item {
      float: left;
        a {
          margin: 0 13px;
          line-height: 100px;
          color: $white;
          font-size: 13px;
      }
      a:hover {

      }
    }
    li:first-child {
    }
  }


}//header__fixed

.header__box {
  padding-top: 168px;
  max-width: 575px;
    .header__box--top {
      margin-top: 28px;
      color: $white;
      font-size: 50px;
      font-weight: lighter;
    }
    .header__box--center {
      color: $white;
      line-height: 1.1;
      font-size: 50px;
      font-weight: lighter;
    }
    .header__button {
      width: 256px;
      height: 50px;
      margin: 40px 0 20px 0;
      background-color: #000;
      color: $white;
      border: 2px solid #000;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 46px;
      text-align: center;
      letter-spacing: 2px;
      border-radius: 5px;
      transition: 2s;
    }
    .left:hover {
      background-color: #ed1f24;
      border: 2px solid #ed1f24;
    }
    .right {
      width: 242px;
      border: 2px solid $white;
      background: rgba(0, 0, 0, 0);
    }
    .right:hover {
      background-color: #ed1f24;
      border: 2px solid #ed1f24;
    }

}
}//header

.block1 {
  margin-top: 44px;
  text-align: center;
  .phone__img {
    margin-left: 10px;
    background: url('../img/phone.jpg') no-repeat;
    background-size: contain;
    height: 731px;
  }

  .phone__info {
      margin: 84px 0 0 0;
    .block1__h2--top {
      width: 100%;
      margin-bottom: 10px;
    }
    .block1__h2 {
      font-size: 44px;
      width: 100%;
      max-width: 100%;
      font-weight: 100;
      line-height: 1.2;
      text-align: center;
    }
    .block1__h2--center {
      margin-bottom: 36px;
    }
    .block1__item {
      margin-top: 6px;
      font-size: 20px;
      color: #151515;
      font-weight: bold;
      text-align: right;
    }
    span {
      display: block;
      max-width: 100%;
      font-size: 14px;
      // line-height: 1.3;
      color: #757575;
      text-align: right;
    }
  }
}




.svg-block-1 {
  width: 100%;
  height: 500px;
  background: #fff;
  position: relative;
}

.clip_1 {
  width: 50%;
  height: 50%;
  -webkit-clip-path: polygon(0 0, 88% 0%, 82% 100%, 0% 100%);
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  .clip_left {
    float: left;
    width: 47%;
    height: 100%;
    background: url('../img/box__left1.jpg');
    text-align: center;
    p {
      margin: 0 auto;
      line-height: 6;
      color: $white;
      font-size: 45px;
    }
  }
  .clip_right {
    float: left;
    width: 53%;
    height: 100%;
    background: url('../img/box__left2.png') 10%;
    text-align: center;
    p {
      padding-right: 180px;
      line-height: 6;
      color: $white;
      font-size: 45px;
    }
  }
}

.clip_2 {
  width: 50%;
  height: 50%;
  -webkit-clip-path: polygon(0% 0%, 82% 0%, 78% 100%, 0% 100%);
  background: #535353;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  p {
    margin-left: 100px;
    width: 49%;
    color: $white;
    font-size: 23px;
  }
}

.clip_3 {
  width: 65%;
  height: 50%;
  -webkit-clip-path: polygon(31% 0%, 100% 0%, 100% 100%, 24% 100%);
  background: #3a3737;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  p {
    margin-left: 300px;
    width: 49%;
    color: $white;
    font-size: 23px;
  }
}

.clip_4 {
  width: 50%;
  height: 50%;
  -webkit-clip-path: polygon(26% -5%, 100% 0%, 100% 100%, 19% 100%);
  background: green;
  position: absolute;
  bottom: 0;
  right: 0;
  .clip_left {
    float: left;
    width: 57%;
    height: 100%;
    background: url('../img/box__right1.jpg') 100% 55%;
    text-align: center;
    p {
      padding-left: 180px;
      line-height: 6;
      color: $white;
      font-size: 45px;
    }
  }
  .clip_right {
    float: left;
    width: 43%;
    height: 100%;
    background: url('../img/box__right2.jpg') 10%;
    text-align: center;
    p {
      margin: 0 auto;
      line-height: 6;
      color: $white;
      font-size: 45px;
    }
  }
}

.clip_1, .clip_2, .clip_3, .clip_4 {
  width: 64%;
}

@-webkit-keyframes right {
  from {
    right: 0;
  }

  50% {
    right: 19%;
    background: #ccc;
  }

  to {
    right: 0;
  }
}


@-webkit-keyframes left {
  from {
    left: 0;
  }

  50% {
    left: 19%;
    background: #ccc;
  }

  to {
    left: 0;
  }
}
.products {
  padding-top: 186px;
  .products__box {
    .product__text {
      padding-left: 54px;
      font-size: 42px;
      font-weight: lighter;
      color: #4f4c4c;
      text-align: center;
    }
    .product__text--top {

    }
    .product__desription {
      margin-top: 30px;
      padding-left: 54px;
      text-align: center;
        .product__desr {
          padding: 20px;
          h3 {
            font-size: 20px;
            color: #151515;
          }
          p {
            font-size: 15px;
            color: #757575;
          }
        }
        .product__desr--left {
          text-align: right;
          padding-right: 65px;
          border-right: 1px solid #f3f3f3;
        }
        .product__desr--right {
          text-align: left;
        }
    }
}
.product__img {
  background: url('../img/product__img.jpg');
  max-width: 100%;
  height: 463px;
  background-size:cover;
-moz-background-size:cover;
-webkit-background-size:cover;
}
}

.price {
  padding: 72px 0 56px 0;
  background: #f5f5f5;
  h2 {
    font-size: 46px;
    font-weight: lighter;
    text-align: center;
  }

  .plans {
    padding-top: 45px;
    position: relative;
    .plan {
      padding: 0 0 50px 0;
      border-radius: 4px;
      background: #f5f5f5;
      border: 1px solid #c9c9c9;
      text-align: center;
        .plan__header {
          color: #484848;
          font-size: 25px;
          font-weight: bold;
          height: 84px;
        }
        .plan__header--first {
          padding-top: 5px;
        }
        .plan__header--center,
        .plan__header--last {
          line-height: 84px;
        }

        .plan__price {
          max-height: 104px;
          background: #717171;
          color: $white;
          font-size: 46px;
          border-radius: 3px;
            p {
            font-weight: bold;
            }
            span {
              display: block;
              font-size: 20px;
              line-height: 5px;
              padding-bottom: 25px;
            }
        }
        .plan__descr {
          padding: 47px 28px 13px 36px;
          font-size: 18px;
          color: #585858;
        }
        a {
          margin: 20px auto 0;
          width: 132px;
          height: 32px;
          line-height: 32px;
          display: block;
          background: #ed1f24;
          border-radius: 4px;
          color: $white;
          font-size: 12px;
          font-weight: bold;
        }
    }
    .plan__center {
      position: absolute;
      top: 7%;
      left: 33%;
      z-index: 10;
      width: 34%;
      min-height: 464px;
        .plan__price {
          background: #ed1f24;
          padding-bottom: 5px;
        }
    }
  }
}//plan and price

.contacts {
  border-bottom: 1px solid $white;
  background: #3c3c3c;
  height: 395px;
  .contacts__img {
    background: url('../img/contacts__phone.jpg') no-repeat;
    background-size: cover;
    background-size: 100% 101%;
    max-width: 100%;
    height: 394px;
    .contacts__button {
      padding-top: 20px;
      padding-right: 35px;
      text-align: right;
        float: right;
    p {
      max-width: 100%;
      font-size: 52px;
      color: $white;
    }
    a {
      float: right;
      width: 183px;
      height: 42px;
      line-height: 42px;
      display: block;
      background: #da2227;
      border-radius: 4px;
      color: $white;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
    }
  }
  }

  .contacts__form {
    padding-left: 8px;
    .contacts_address {
      padding: 30px 0;
      p {
        max-width: 100%;
        font-size: 29px;
        color: $white;
      }
    }
    form {


      .form__left {
        float: left;
        width: 47%;
        input {
          width: 185px;
          height: 34px;
          border: 1px solid #bfbfbf;
          border-radius: 4px;
          background: none;
          color: #626262;
          padding-left: 12px;
          margin: 5px;
        }
      }
      .form__right {
        width: 50%;
        float: left;
        textarea {
          float: left;
          width: 166px;
          height: 124px;
          border: 1px solid #bfbfbf;
          border-radius: 4px;
          background: none;
          color: #626262;
          padding-left: 12px;
          margin: 5px;
          resize: none;
        }
      }
      input[type="submit"] {
        float:right;
        margin-right: 62px;
        width: 86px;
        height: 28px;
        background: none;
        color: $white;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
      }
  }
  }
}

footer {
  background: #303030;
  min-height: 152px;
  .footer__logo {
    margin: 50px 0 0 40px;
    width: 78px;
    height: 59px;
    background: url('../img/footer__logo.jpg');
  }
  .footer__copy {
    margin: 66px 0 0 65px;
    font-size: 15px;
    color: $white;
  }
  .footer__menu {
      margin: 66px 0 0 65px;

    li {
      float: left;
      a {
        font-size: 16px;
        color: $white;
        padding: 0 8px;
        margin: 0 8px;
      }
    }
    li:first-child {
      padding-left: 100px;
    }
  }
  .facebook {
    margin: 50px 0 0 18px;
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/facebook.jpg');
  }
}


}//container-fluid
@media (min-width: 1200px) and (max-width: 1400px) {
  .container-fluid {

    header {
      .header__fixed {
        .menu {

          .list-item {
            a {
              margin: 0 11px;
            }
          }
        }
      }
    }
    .price {
      .plans {
        .plan__center {
          min-height: 494px;

        }
        .plan {
          .plan__descr {
            padding: 47px 28px 13px 46px;
          }
        }
      }
    }
    .contacts {
      .contacts__form {
        form {
          input[type="submit"] {
            margin-right: 62px;
          }
        }
      }
    }
    footer {
      .footer__menu {
        li {
          a {
            margin: 0 2px;
          }

        }
      }
      .footer__copy {
        margin: 66px 0 0 50px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .container-fluid {

    header {
      .header__fixed {
        .menu {

          .list-item {
            a {
              margin: 0 5px;
            }
          }
        }
      }
    }

    .block1 {
      .phone__info {
        width: 48%;
      }

    }
    .price {
      .plans {
        .plan__center {
        }
        .plan {
          .plan__descr {
            padding: 47px 6px 12px 0px;
          }
        }
      }
    }
    .contacts {
      height: auto;
      .contacts__img {
        .contacts__button {
          p {
            font-size: 35px;
          }
        }
      }
      .contacts__form {
        .contacts_address {

        }
        form {
          .form__left {
            width: 47%;
            input {
              width: 142px;
              height: 34px;
            }
          }
          .form__right {
            width: 50%;
            textarea {
              width: 161px;
              height: 122px;
            }
          }
          input[type="submit"] {
            margin-right: 6px;
          }
        }
      }
    }
    footer {
      .footer__menu {
        margin: 66px 0 0 -50px;
        li {
          a {
            margin: 0 2px;
          }

        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {

    header {
      .header__fixed {
        position: relative;
        width: 94%;
        .menu {
            text-align: right;
          .list-item {
            a {
            }
          }
        }
      }
    .header__box {
        .header__box--top,
        .header__box--center {
        font-size: 40px;
      }
    }
  }

    .block1 {
      .phone__img {
        // width: 50%;
      }
      .phone__info {
        // width:
        margin: 84px 0 0 50px;
      }
    }

    .price {
      .plans {
        .plan__center {
          position: relative;
          top: 0;
          left: 0;
          height: 100%;
          width: 33%;
        }
        .plan {
          .plan__descr {
            padding: 47px 6px 12px 0px;
          }
        }
      }
    }
    .contacts {
      height: auto;
      padding-bottom: 20px;
      .contacts__img {
        .contacts__button {
          p {
            font-size: 32px;
          }
          a {
            width: 122px;
            font-size: 14px;
          }
        }
      }
      .contacts__form {
        .contacts_address {
          p {
            font-size: 17px;
          }
        }
          form {
            .form__left {
              float: none;
            }
            .form__right {
              float: none;
              textarea {
                width: 184px;
              }
            }
          }
      }
    }
    footer {
      .footer__menu {
        margin: 66px 0 0 18px;
        li {
          a {
            padding: 0 4px;
            margin: 0 1px;
          }

        }
        li:first-child {
            padding-left: 0px;
      }
    }
    .facebook {
      margin: 50px 0 0 8px;
    }
  }
  }
}
@media (min-width:600px) and (max-width: 767px){
  .container-fluid {

    header {
      .header__fixed {
        position: relative;

        .menu {
          .list-item {
            a {
              margin: 0 6px;
            }
          }
        }
      }
    .header__box {
        .header__box--top,
        .header__box--center {
        font-size: 40px;
      }
    }
  }

    .block1 {
      .phone__img {
        // width: 50%;
      }
      .phone__info {
        // width:
        margin: 84px 0 0 50px;
      }
    }

    .products {
      .products__box {
        .product__desription {
          .product__desr {
            margin-bottom: 40px;
          }
        }
      }
    }

    .price {
      .plans {
        .plan__center {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .plan {
          .plan__descr {
            padding: 47px 6px 12px 0px;
          }
        }
      }
    }
    .contacts {
      height: auto;
      padding-bottom: 20px;
      .contacts__img {
        .contacts__button {
          p {
            font-size: 32px;
          }
          a {
            width: 122px;
            font-size: 14px;
          }
        }
      }
      .contacts__form {
        margin-left: 30px;
        .contacts_address {
          padding: 18px 0;
          p {
            font-size: 17px;
          }
        }
          form {
            .form__left {
              float: left;
            }
            .form__right {
              float: left;
              textarea {
                width: 184px;
              }
            }
            input[type="submit"] {
              margin-right: 108px;
            }
          }
      }
    }
    footer {
      .flogo {
          width: 30%;
          float: left;
      }
      .fcopy {
          width: 70%;
          float: left;
      }
      .footer__menu {
        display: none;
    }
    .facebook {
      display: none;
    }
  }
  }
}
@media (min-width:320px) and (max-width: 599px){
    .container-fluid {
      header {
        
      }
    }
}
