<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Пример использование шаблонизатора</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/template.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="col-md-4"></div>
    <div class="container">
          <script type="text/html" id="test_tmpl">
            <div class="col-md-4">
              <h2 class="text-center bg-danger">Тест</h2>
              <ul>
                <% for ( var i = 0; i < data.questions.length; i++ ) { %>
                  <li>
                    <h3 class="text-center bg-primary"><%= data.questions[i]%></h3>
                    <ul >
                      <% for ( var j = 0; j < data.answers[i].length; j++ ) { %>
                        <li class="list-group-item">
                          <label>
                            <%= data.answers[i][j]%>
                            <input class="pull-left" type="checkbox" name="<%= 'Q' + i%>">
                          </label></li>
                      <% } %>
                    </ul>
                  </li>
                <% } %>
              </ul>
              <input class="btn btn-lg btn-success center-block btn-confirm" type="submit" value="Проверить мои результаты"></input>
            </div>
          </script>
          <div class="modal_wrap">
            <div class="modal_results">
              <button class="modal_exit_btn"></button>
            </div>
          </div>
        </div>
    <div class="col-md-4"></div>
  </body>
</html>
