.owl-carousel{
margin: 10px auto;
}
.owl-wrapper-outer{
margin: 0 auto;
}

div.owl-item {
  width: 400px;
}

li {
  list-style: none;
}


.cuselFrameRight {
background: url(../img/selects.png) no-repeat;
background-position: center center;
-moz-background-size: contain;
-o-background-size: contain;
-webkit-background-size: contain;
-khtml-background-size: contain;
background-size: contain;
display: block;
height: 2.2em;
position: absolute;
right: 0;
top: 0;
width: 10%;
cursor:pointer;
}
.cusel-scroll-wrap {
display:none;
position:absolute;
border:1px solid #ccc;
width:100%;
height: 8.5em;
margin-left: -0.5em;
margin-top: 0.5em;
padding: 0 0.5em;
visibility: visible;
width: 94%;
overflow:hidden;
background-color: #e7e7e7;
z-index: 10;
}
.cusel-scroll-wrap  span {
display: block;
cursor:pointer;
margin: 0.5em 0;
font-size:1em;
}
#cusel-scroll-quest {
position:absolute;
}

.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox-sprite.png);
	overflow: hidden;
}
.niceChecked {
	background-position: 0 -17px;
}
.niceCheck input {
	margin-left: -200px; /* можно задать побольше чтобы наверняка скрыть поле */
}
.niceCheckDisabled {
	background-image: url(../img/checkbox-sprite.png);
}

/* =Styles for the lab
-------------------------------------------------------------- */
#wrapper {
	min-width:1000px;
}
nav {
  margin: 140px 0;
	background-color:#ff6464;
	padding:10px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {
    background-color:#E14B37;
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px rgb(200,50,50);
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}
