
.container {
	width: 958px;
	margin: 0 auto;
	padding: 50px 48px 60px 48px;
	background: #fff;
	border: 1px solid #dbdbdb ;
}
		/*HEADER*/
.logo {
	float: left;
	margin-bottom: 40px;
}
.header_clear{
	clear: both;
}

        /*MENU*/
.menu {
	height: 40px;
	background: linear-gradient(to bottom, #5c5c5c 0%, #454444 53%, #454444 100%);
}

.menu li {
	float: left;
}
.menu li a { 
	display: block; 
	margin: 0 16px 0 16px; 
	padding: 0 24px 0 24px; 
	line-height: 40px; 
	text-decoration: none; 
	color: white; 
	text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

.menu li a:first-child { 
	margin-left: 0; 
}

.menu a:hover { 
	padding: 0 23px 0 23px; 
	background: linear-gradient(to top, #2e2e2e,#4a4a4a); 
	border-left: solid 1px #838383; 
	border-right: solid 1px #838383; 
}

		/*LEFT MENU*/
		
.left-menu ul {
	float: left;
	border: 1px solid #c8c8c8; 
}

.left-menu li {
	border-bottom: 1px solid #c8c8c8; 
}
.left-menu li:last-child { 
	border-bottom: none;
}

.left-menu li a {
display: block;
width: 214px;
padding: 0 0 0 23px;
line-height: 39px;
text-decoration: none;
color: #656363;
}

.left-menu li a:hover {
width: 202px;
padding: 0 0 0 35px;
background-color: #f9f9f9;
color: #2c2c2c;
-webkit-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;
}

		/*CONTENT*/

.item {
padding: 40px 0 20px;
}

.content {
	float: right; 
	width: 678px;
	text-align: left;
}

.velo_img {
	height: 370px;
	background-color: white;
	border: solid 1px #c8c8c8;
	text-align: center;
	padding-top:40px;
}


.item_short_descr { 
	margin: 40px 24px; 
	font-size: 13px; 
	line-height: 1.5em; 
	color: #2c2c2c; 
} 

.content_clear{
clear: both;
}

 		/*FOOTER*/
.footer {
	height: 40px;
	padding: 0 24px; 
	background-color: #e1e1e1;
}

.footer li {
	float: left;
	margin: 0 40px;
}


.footer li:first-child { 
	margin-left: 0;
}

.footer li a, .copy_r { 
	display: block; 
	line-height: 40px; 
	font-size: 13px; 
	text-decoration: none; 
	color: #2c2c2c; 
}

.footer a:hover {
	text-decoration: underline; 
}

.copyright{
	float: right;
	line-height: 40px;
}

.footer_clear{
	clear: both;
}