
.container {
	width: 958px;
	height: 900px;
	margin: 0 auto;
	padding: 50px;
	background: #fff;
	border: 1px solid #dbdbdb ;
}
		/*HEADER*/
.header {
	padding-bottom: 50px;
}
.menu {
	width: 965px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 40px;
		background: linear-gradient(to bottom, #5c5c5c 0%, #454444 53%, #454444 100%);
}

.menu li {
	display:inline;
	padding-right: 25px;
	margin-right: 1px;
	font-size:14px; 
}
.menu a {  
     
    padding: 10px 25px; 
    color: #fff;  
}
.menu a:hover {
	background: #434343;
	border: 1px solid gray;
}
a{
	line-height: 40px;
	text-decoration: none; 
}

		/*CONTENT*/
.left-menu ul {
	float: left;
}

.left-menu li {
	background: #fff;
	width: 240px;
	height: 40px;
	border: 1px solid #c8c8c8;
	font-size:14px;
}

.left-menu a { 

	padding: 14px 25px;
	color: #000;    
}
.left-menu a:hover {
	padding-left: 40px;
}
.content {
	margin-left: 280px;
	width: 580px;
	height: 300px;
	margin-left: 280px;
	padding:50px;
	border: 1px solid #c8c8c8;
}

p {
	display: block;
	margin-left: 300px;
	margin-top: 40px;
	line-height: 18px;
}

 		/*FOOTER*/
.footer {
	width: 965px;
	height: 40px;
	margin: 0 auto;
	margin-top: 40px;
	background: #e1e1e1;
}

.footer li {
	display:inline-block;
	padding-right: 25px;
	margin-right: 1px;
	background: #e1e1e1;
	font-size:14px;
}
.footer a {   
    padding: 15px 25px;  
    color: #000;
    
}
.footer a:hover {
	text-decoration: underline; 
}
.footer li:last-child {
	padding-left:175px;
}