$roboto: 'Roboto Condensed', sans-serif;
$blue: #58c7f2;
$darkBlue: #0e91c4;
$white: #fff;
*{
  font-family: $roboto;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.wrapper {
  .header__reservations,
  .reservations {
    margin: 48px 0 0 364px;
    text-align: center;
    width: 445px;
    height: 81px;
    background: $blue;
    border-bottom: 8px solid $darkBlue;
    box-sizing: border-box;
    .reservations__button {
      padding: 22px 108px;
      font-family: $roboto;
      font-size: 31px;
      color: $white;
      font-weight: 700;
      text-decoration: none;
      line-height: 81px;
    }
    .reservations__button:hover {
      background: $darkBlue;
    }
  }
  .content__title, .title {
    width: 270px;
    float: left;
    margin-right: 28px;
    h1 {
      font-family: $roboto;
      font-size: 36px;
      font-weight: 700;
    }
  }
  header {
    height: 666px;
    background: url(../img/header_bg.jpg);
      .header__top {
        width: 100%;
        height: 68px;
        background: #f6f6f6;
          .header__top__inner {
            width: 1200px;
            margin: 0 auto;
            .header__logo {
              margin-left: 18px;
              float: left;
            }
            .lng {
              float: left;
              padding: 0 20px;
              margin: 0 36px;
              line-height: 68px;
              font-family: $roboto;
              font-size: 12px;
              color: #494949;
              text-decoration: none;
            }
            nav {
              .menu {
                float: left;
                .menu__item {
                  float: left;
                    .menu__link {
                        margin-left: 23px;
                        line-height: 68px;
                        font-family: $roboto;
                        font-size: 14px;
                        color: #494949;
                        text-decoration: none;
                  }
                }
              }
            }
        }
      }
      .header__center {
          width: 100%;
          padding-top: 88px;
        .header__center__inner {
          width: 1200px;
          margin: 0 auto;
          padding: 0 15px;
            .header__title {
              float: left;
              width: 816px;
              height: 96px;
              padding-left: 48px;
              line-height: 96px;
              background:rgba(88, 199, 242, 0.9);
              box-sizing: border-box;
              p {
                color: $white;
                font-family: $roboto;
                font-weight: 700;
                font-size: 72px;
                opacity: 1;
              }
            }
            .header__phone {
              float: right;
              margin-right: 43px;
              p {
                margin: 11px 0 11px 0;
                font-family: $roboto;
                font-weight: 400;
                font-size: 27px;
                color: $white;
              }
              span {
                font-family: $roboto;
                font-weight: 700;
                font-size: 30px;
                color: $white;
              }
            }
            .header__call {
              float: right;
              margin: 18px 51px 0 0;
              width: 241px;
              height: 50px;
              background:rgba(255, 255, 255, 0.2);
              border: 1px solid $white;
              box-sizing: border-box;
              text-align: center;
                .header__call__button {
                  padding: 10px 35px;
                  line-height: 50px;
                  font-family: $roboto;
                  font-weight: 700;
                  font-size: 24px;
                  color: $white;
                  text-decoration: none;
                }
                .header__call__button:hover {
                  background: $blue;
                }
            }
            .header__svg {
                color: $white;
              #svg__text__bold {
                  font-size: 16px;
                  font-weight: 700;


              }
              #svg__text__regular {
                  font-size: 14px;
                  font-weight: 400;
              }
          }//header__svg

        }
      }
  }// end HEADER

//menu__box
.menu__box {

  .main__menu {
    width: 100%;
    height: 57px;
    background: url(../img/menu__bg.jpg);
      .menu {
      width: 1200px;
      margin: 0 auto;
          .menu__item {
            float: left;
            line-height: 62px;
            .menu__link {
              padding: 24px 5px 16px 11px;
              font-family: $roboto;
              font-size: 14px;
              font-weight: 700;
              color: #000;
              text-decoration: none;
            }
            .menu__link:hover {
              background:rgba(0, 0, 0, 0.3);
            }
          }
      }
      .phone__box {
        float: left;
        width: 178px;
        height: 57px;
        .phone {
          display: block;
          margin: 7px 0 0 22px;
          font-family: $roboto;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .call__box {
        width: 170px;
        height: 57px;
        float: left;
        margin-left: 24px;
        text-align: center;
        background: $white;
        .call__link {
          line-height: 57px;
          font-family: $roboto;
          font-weight: 700;
          font-size: 14px;
          color: $blue;
          text-decoration: none;
          border-bottom: 1px dashed $blue;
        }
      }
      .call__box:hover{
        background: $blue;

      }
      .call__box:hover + .call__link{
        color: $white;
      }
  }
}//end MENU__BOX


.content {
      width: 1204px;
      margin: 0 auto;
      padding-top: 16px;
      overflow: hidden;
    .content__select {
      form {
        margin-top: 7px;
        font-family: $roboto;
        font-weight: 700;
        font-size: 14px;
          select {
            width: 170px;
            padding: 5px 0 5px 10px;
            margin-left: 8px;
            font-family: $roboto;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
          }
      }
    }
    .rooms {
       position: relative;
      float: left;
      margin-top: 16px;
      .rooms__list {
        // position: relative;
        .rooms__item {
          width: 244px;
          height: 74px;
          border: 1px dashed #000;
          margin:8px 0px 9px 0px;
          text-align: center;
          line-height: 22px;
          .rooms__img {
            float: left;
            overflow: hidden;
            width: 48px;
            height: 48px;
            margin: 13px 10px;
            background: url(../img/sprite.png);
            background-position: -48px 85px;
          }
          .woman {
            width: 48px;
            height: 48px;
            background-position: -185px 82px;
          }
          .man {
            width: 48px;
            height: 48px;
            background-position: -118px 83px;
          }
            .rooms__link {
              float: left;
              margin-left: 16px;
            color: #626262;
            font-family: $roboto;
            font-size: 18px;
            font-weight: 700;
            p{
            margin-top: 18px;
            }
          }
          .vip {
            margin-left: 5px;
            p{
              margin-top: 16px;
            }
          }
        }
        // .rooms__item:hover {
        //     position: relative;
        //   	background:$blue;
        //     width: 222px;
        //     border: none;
        // }
        .rooms__item:active {
            position: relative;
          	background:$blue;
            border: none;
        }
        // .rooms__item:after {
        //   	left: -20%;
        //   	top: 50%;
        //   	border: solid transparent;
        //   	content: " ";
        //   	height: 0;
        //   	width: 0;
        //   	position: absolute;
        //   	pointer-events: none;
        //   	border-color: rgba(88, 199, 242, 0);
        //   	border-left-color: #58c7f2;
        //   	border-width: 37px;
        //   	margin-top: -37px;
        // }

      }
    }//END ROOMS
    .content__box {
      width: 904px;
      float: right;
      margin-top: 27px;
      font-family: $roboto;
      overflow: hidden;
      .content__center{
          margin-top: 16px;
          float: left;
          .content__name {
              width: 444px;
              margin-bottom: 51px;
              font-weight: 700;
              font-size: 30px;
              color: $blue;
          }
          .content__text {
            width: 460px;
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 53px 4px;
          }
          .content__price {
            width: 444px;
            display: block;
            margin-left: 8px;
            .content__price__bold {
                padding-right: 29px;
                font-weight: 700;
                font-size: 18px;
            }
            .content__price__regular {
                padding-left: 7px;
            }
          }
          .reservations {
              margin: 35px 0 0 5px;
          }

      }
        .content__img {
            float: right;
            margin-right: 32px;
            position: relative;
            padding-bottom: 80px;

          .img__link {
            width: 376px;
            height: 280px;
            float: right;
            background: url(../img/content__img1.jpg);
          }
          ul {
            float: right;
            li {
              float: left;
              .img__small {
                width: 82px;
                height: 62px;
                margin-top: 10px;
                background: url(../img/content__img2.jpg);
              }
            }
        }
      }
    .content__icons {
      margin-top: 18px;
      float: left;
      .icons__list {
        .list__item {
          float: left;
          margin: 13px 28px 10px 0;

            .list__img {
                background: url(../img/sprite.png);
                width: 90px;
                height: 49px;
                margin-left: 11px;
            }
            span {
              text-align: center;
              display: block;
              font-size: 12px;
              margin-top: 8px;
            }
            }
            .item1 {
                .list__img {
                  background-position: -237px 88px;
                }
                span {
                  width: 90px;
                }
            }
            .item2 {
              .list__img {
                background-position: -322px 86px;
              }
              span {
                width: 75px;
              }
            }
            .item3 {
              .list__img {
                background-position: -398px 88px;
              }
              span {
                width: 90px;
              }
            }
            .item4 {
                .list__img {
                  background-position: -450px 88px;
                }
                span {
                  width: 134px;
                }
            }
            .item5 {
              .list__img {
                background-position: -564px 88px;
              }
              span {
                width: 64px;
              }
            }
            .item6 {
              .list__img {
                background-position: -602px 88px;
              }
              span {
                width: 180px;
              }
            }

      }
    }

    }//contect__box
}//END CONTENT

.reviews {
  width: 1200px;
  margin: 34px auto;
    .title {
      width: 270px;
      float: left;
      margin: 28px 0 43px 3px;
      clear: both;
    }
    .owl-carousel {
      clear: both;
      margin: 0 0  90px 0;
      width: 990px;
      float: left;
      padding-left: 80px;
      .owl-item {
          width: 500px;
        .carousel__box {
          width: 470px;
          height: 330px;
          margin: 0 2px 0 26px;
            .carousel__img {
                width: 111px;
                height: 111px;
                margin-left: 12px;
                float: left;
            }
            .carousel__title {
              float: left;
              width: 297px;
              font-family: $roboto;
              font-size: 14px;
              font-weight: 700;
              line-height: 111px;
              margin-left: 22px;
            }
            .carousel__text {
                float: left;
                width: 460px;
                font-family: $roboto;
                font-size: 12px;
                font-weight: 300;
                margin-top: 26px;
                line-height: 23px;
            }
        }
      }
        .owl-prev {
            position: absolute;
            width: 15px;
            height: 24px;
            top: 166px;
            left: 0;
            background: url(../img/prev.png);
        }
        .owl-next {
            position: absolute;
            width: 15px;
            height: 24px;
            top: 163px;
            right: -93px;
            background: url(../img/next.png);
        }
    }
    .reviews__callback {
      margin-bottom: 50px;
      width: 1170px;
      text-align: center;
      font-family: $roboto;
      font-size: 24px;
      font-weight: 700;
      clear: both;
        .callback__link {
          color: $blue;
          text-decoration: none;
          padding-bottom: 4px;
          border-bottom: 1px dashed $blue;
        }
        .callback__link:hover {
          color: #0e91c4;
          border-bottom: 1px dashed #0e91c4;
        }
    }
}

footer {
  height: 615px;
  clear: both;
  position: relative;
  background: url(../img/footer__bg.jpg) 50% 0;
    .footer__contacts {
        width: 470px;
        height: 100%;
        margin-left: 75px;
        background: $white;
        .title {
          h1 {
            margin: 28px 0px 0 30px;
          }
        }
          .contacts__box {
            margin-top: 33px;
            width: 470px;
            float: left;
            font-family: $roboto;
            font-size: 18px;
            font-weight: 700;

              .contacts__list { //UL
                    li {
                        text-align: center;
                        overflow: hidden;
                        margin-left: 95px;
                        .list__item {
                          float: left;
                          background: url(../img/footer__sprite.png) 2% 52%;
                          width: 50px;
                          height: 36px;
                        }
                        .phone {
                          background-position: 2% 70%;
                        }
                        .kyivstar {
                          background-position: 14% 66%;
                        }
                        .lifecell {
                          background-position: 28% 67%;
                        }
                        .vodafone {
                          background-position: 39% 67%;
                        }
                        span {
                          display: block;
                          width: 230px;
                        }
                    }
                    .list__box {
                          width: 310px;
                          line-height: 19px;
                          margin: 13px 0 0 53px;
                          overflow: hidden;
                          .list__sprite {
                            background: url(../img/footer__sprite.png);
                            width: 50px;
                            height: 36px;
                          }
                      .list__sprite__mail {
                          background-position: 51% 43%;
                          display: inline-block;
                      }
                      .contacts__mail__color {
                          color: #979797;
                          text-align: left;

                      }
                      span {
                        display: inline;

                      }
                    }

                    .viber {
                        margin-top: 32px;
                          .list__sprite__viber {
                            background-position: 62% 43%;
                            display: inline-block;
                          }
                          .contacts__viber__color {
                            color: #a167c3;
                          }
                    }
                    .skype {
                          margin-top: 0;
                          .list__sprite__skype {
                            background-position: 74% 43%;
                            display: inline-block;
                          }
                          .contacts__skype__color {
                            color: #2e9aed;
                          }
                    }
                    .map {
                            height: 100%;
                            line-height: 22px;
                            margin: 0 auto;
                          .list__sprite__map {
                            margin: 19px 10px 0px 133px;
                            background-position: 90% 22%;
                            height: 90px;
                          }
                          .map__text {
                            display: block;
                            margin: 0 auto;
                          }
                          .map__text__small {
                            font-size: 14px;
                            letter-spacing: 0.5px;
                          }
                    }

              }


          }  //contacts__box
        } //footer__contacts


    }//footer

        #module__box {
          display: none;
          position: fixed;
          top: 18%;
          left: 36%;
          width: 390px;
          height: 435px;
          border: 3px solid #fff;
          background: #e5e5e5;
          z-index: 999999;
          .module__input {
            padding-bottom: 10px;

              .module__h1 {
                margin: 24px auto 40px;
                width: 300px;
                line-height: 34px;
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                color: $blue;
              }
              form {
                  text-align: center;
                      input {
                        border: none;
                        margin-bottom: 21px;
                        color: #787878;
                        font-size: 25px;
                        width: 300px;
                        height: 66px;
                        background-image: url(../img/name_avatar.png);
                        background-repeat: no-repeat;
                        background-position: 11px;
                        outline: none;
                        padding-left: 66px;
                      }
                      .phone {
                        background-image: url(../img/phone_avatar.png);
                      }
              }
          }

          .module__button {
              background: #fff;
              padding: 22px 0 15px 0;
            .reservations {
              margin: 0 auto;
              text-align: center;
              width: 368px;
              height: 81px;
              background: $blue;
              border-bottom: 8px solid $darkBlue;
              box-sizing: border-box;
              a {
                padding: 22px 106px;
                font-size: 31px;
                color: $white;
                font-weight: 700;
                text-decoration: none;
                line-height: 81px;
              }
              a:hover {
                background: $darkBlue;
              }
            }
          }
        }


}
