          /*MAIN*/
.main {
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.65);
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}
          /*HEADER*/
header {
	width: 940px;
	height: 155px;
	margin-top: 38px;
	padding: 10px 30px;
	position: relative;
}

.contacts {
	color: #5fa5bb;
	display: block;
	float: right;
	padding-top: 9px;
}

.bold {
	font-weight: bold;
	padding-bottom: 8px;
}

.regular {
	padding-bottom: 6px;
}

.countries{
	margin: 3px;
	float: right;
	height: 50px;
	clear: right;
	position: absolute;
	right: 20px;
	top: 105px;
}

.countries li{
	width: 56px;
	height: 56px;
	float: left;
	margin-left: 6px;
	font-size: 10px;
	text-align: center;
}

.logo{
	width: 1000px;
	height: 238px;
	border-bottom: 1px solid #138aa7;
}
        /*MENU*/


.menu {
	width: 1000px;
	height: 30px;
	background-color: #333;
	border-bottom: 1px solid #000;
 	background: rgb(55,55,55); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);


}
.menu li {
  	position: relative;
  	float: left;
}

.menu li a {
   position: relative;
   display: block;
   padding: 0 35px;
   line-height: 30px;
   color: #fff;
   text-decoration: none;
}

.menu ul {
  position: absolute;
  left: 23px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
}

.menu li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.menu ul li {
  background: #303030;
}
.menu ul a {
  padding: 0 10px;
}

.triangle {
	padding-left: 7px;
}


			/*CONTENT*/
.container {
    width: 1000px;
    overflow: hidden;
    margin-top: 2px;
}

.container p {
	padding: 5px 16px 10px 16px;
}
.container h1{
	font-size: 18px;
	color: #424c43;
	text-align: center;
	font-weight: bold;
	margin: 10px;
}

.box-left {
    width: 21%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box-center {
    width: 58%;
    float: left;
    background: #fff;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box-right {
    width: 21%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
		/*FOOTER*/
.footer p {
    font-size: 12px;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
	
}
