section {
	display: block;
	text-align: -webkit-center;
}

table, td {
	border: 5px solid black;
    border-collapse: collapse;
}

td {
	height: 50px;
}

	/*ONE*/
.one_yellow {
	background: yellow; 
}

	/*TWO AND THREE*/
.two td, .three td {
	height: 140px;
}
.two_red {
	background: red;
}
.two_yellow{
	background: yellow;
}

	/*FOUR*/
.four td, .five td {
	height: 70px;
}

.four_black {
	background: black;
}

	/*FIVE*/
.five {
	width: 135px;
}
.five_yellow {
	background: yellow;
}
.five_black {
	background: black;
}
.five_blue {
	background: blue;
}

	/*SIX AND SEVEN*/
.six td, .seven td {
	height: 40px;
}
.six_black{
	background: black;
}
