body {
background-color: #F5F5F5;
 }

.container {
background:white;
font-size: 18px;
 width: 520px;
 height:750px ;
 margin: 0 auto;
 border: 1px solid #D3D3D3;
}
 
h2 {

	margin-top: 45px;
	text-align: center;
}

.photo {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: 120px;
  height: 130px;
}

hr {

	margin-right: 50px;
	margin-left: 50px;
 }

p {

	margin-left: 65px;
}

ul {
	margin-left: 55px;
}
li {
	line-height: 25px;
}