<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MVC</title>
    <script data-main="js/app" src="js/require.js"></script>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <script type="text/template" id="wrapper__template">
        <div class="wrapper">
          <h1>Список задач</h1>
          <ol class="item"></ol>
          <div class="controlls">
            <textarea type="text" class="item__value"></textarea>
           <a href="#" class="item__add">Добавить</a>
           <div class="hint">Enter the string for editing</div>
          </div>
        </div>
    </script>

    <script type="text/template" id="list__template">
      <% for (var i = 0; i < data.length; i++) { %>
      <li> <%= data[i] %>
        <img data-value="<%= data[i] %>" src="img/remove.png" class="item__delete"></img>
        <img src="img/edit.png" data-value="<%= data[i] %>" alt="Cancel" class="item__img--edit">
      </li>
      <% }; %>
    </script>
  </body>
</html>
