body {
     background-color: #F5F5F5;
 }

.container {
	 font-size: 18px;
	 background:#fff;
	 margin: 0 auto;
	 border: 1px solid #D3D3D3;
 	 width: 420px;
	 padding: 30px 50px;
}
 
h2 {
	text-align: center;
}

.photo {
  	border-radius: 5px;
}

